@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oxanium", cursive;
}

body {
  text-align: center;
  background: linear-gradient(to bottom, #3eff88, #b5faff);
  min-height: 100vh;
  padding-right: 1rem;
}

section {
  padding: 1rem;
}

.modal-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
}

#device {
  width: 30rem;
  height: 50rem;
  background-color: red;
  border-radius: 2rem;
  position: relative;
  margin: 4rem auto;
  border: 0.3rem solid black;
  box-shadow: -5px 8px 0 #222, -8px 10px 0 #000;
}

#borderScreen {
  width: 25rem;
  height: 20rem;
  border: 4rem solid rgb(158, 158, 158);
  position: absolute;
  border-radius: 0.5rem;
  top: 3.5rem;
  left: 2.3rem;
  box-shadow: -3px 4px 0 #222, -5px 7px 0 #000;
}

#screen {
  background-image: url(img/background.png);
  background-size: cover;
  width: 100%;
  max-width: 26.5rem;
  height: 14rem;
  background-color: white;
  border: 0.25rem solid black;
  border-radius: 0.5rem;
  position: absolute;
  top: -1rem;
}

.pokemonData {
  position: absolute;
  font-weight: 600;
  color: #353535;
  top: 115%;
  right: -2rem;
  font-size: clamp(8px, 5vw, 25px);
  z-index: 1;
}

.pokemonName {
  color: #3a444d;
  text-transform: capitalize;
}

#buttonShiny {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  position: absolute;
  background-color: yellow;
  left: 20rem;
  top: 33rem;
  box-shadow: -1.5px 2px 0 #222, -2.5px 4px 0 #000;
}

#buttonStatus {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(64, 64, 252);
  left: 24rem;
  top: 30rem;
  box-shadow: -1.5px 2px 0 #222, -2.5px 4px 0 #000;
}

#buttonPrevious {
  width: 4rem;
  height: 2rem;
  border-radius: 10%;
  position: absolute;
  background-color: darkslategrey;
  left: 4rem;
  top: 32rem;
  box-shadow: 0 3px 0 #222, 0 6px 0 #000;
}

#buttonNext {
  width: 4rem;
  height: 2rem;
  border-radius: 10%;
  position: absolute;
  background-color: darkslategrey;
  left: 8rem;
  top: 32rem;
  box-shadow: 0 3px 0 #222, 0 6px 0 #000;
}

.button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}

#searchButton {
  width: 2rem;
  height: 1.75rem;
  border-radius: 10%;
  position: absolute;
  background-color: darkslategrey;
  left: 19.8rem;
  top: 25rem;
  box-shadow: 0 2px 0 #222, 0 4px 0 #000;
}

#game {
  width: 100%;
  height: 100%;
  position: relative;
}

form {
  position: absolute;
  left: 8rem;
  top: 25rem;
  box-shadow: -1.5px 2px 0 #222, -2.5px 4px 0 #000;
}

.pokemonImage {
  position: absolute;
  bottom: 35%;
  left: 53%;
  transform: translate(-63%, 20%);
  height: 50%;
}
